---
import { Image } from "astro:assets";

interface Props {
    imageSrc: ImageMetadata;
    headline: string;
    subtext: string;
    primaryCTA: { label: string; href: string };
    secondaryCTA?: { label: string; href: string };
}

const { imageSrc, headline, subtext, primaryCTA, secondaryCTA } = Astro.props;
---

<section
    class="relative w-full min-h-[50vh] md:min-h-[60vh] py-16 flex items-center justify-center text-center overflow-hidden"
>
    <div class="absolute inset-0 -z-10 h-full w-full overflow-hidden">
        <Image
            src={imageSrc}
            alt="Wärmepumpe an einem Haus in Bremen"
            class="h-full w-full object-cover"
            sizes="(max-width: 768px) 100vw, 50vw"
            priority
        />
    </div>
    <div
        class="absolute inset-0 -z-10 h-full w-full bg-gradient-to-t from-black/30 to-black/50"
    >
    </div>

    <div
        class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 bg-primary/30 backdrop-blur-xs rounded-xl"
    >
        <div class="mx-auto text-center max-w-4xl py-10 md:py-14">
            <h1
                class="text-3xl font-bold leading-tight tracking-tight text-white lg:text-5xl"
            >
                {headline}
            </h1>

            <p
                class="mt-6 max-w-xl text-center mx-auto text-base leading-7 text-white sm:text-lg sm:leading-8"
            >
                {subtext}
            </p>

            <div
                class="mt-10 text-center flex flex-col mx-auto justify-center items-center gap-4 sm:flex-row sm:flex-wrap"
            >
                <a
                    href={primaryCTA.href}
                    class="btn-accent w-full sm:w-auto text-center"
                >
                    {primaryCTA.label}
                </a>

                {
                    secondaryCTA && (
                        <a
                            href={secondaryCTA.href}
                            class="inline-flex items-center justify-center rounded-md border border-white/40 bg-white/10 px-6 py-3 text-sm font-semibold tracking-wide text-white transition-colors hover:bg-white/20 hover:border-white/60 w-full sm:w-auto text-center"
                        >
                            {secondaryCTA.label}
                        </a>
                    )
                }
            </div>
        </div>
    </div>
</section>
